[submodule "android"]
	path = android
	url = https://github.com/m-dayani/robo-platform-android

[submodule "desktop"]
	path = desktop
	url = https://github.com/m-dayani/robo-platform-desktop
[submodule "avr"]
	path = avr
	url = https://github.com/m-dayani/robo-platform-avr
